{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngodar</title>
    
</head>
<body>
    <div class="container">
       <div class="img1">
        <div class="caption">
            <div class="menu-container">
                <div class="menu-content">
                    <a href="{% url 'index' %}"><img src="{% static 'image/logo'}"></a>
                    <div class="nav-items">
                        <a href="{% url 'index' %}"
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</body>
</html>